body {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 30px;
  color: #284fff;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 45px;
  line-height: 1.5;
}

h2 {
  font-weight: 200;
  font-size: 37px;
  text-transform: uppercase;
}
p {
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  margin: 30px 0;
}

img {
  width: 100%;
}

footer {
  font-size: 14px;
  font-weight: Light 300;
}

.dark {
  background: #284fff;
  color: white;
}

.dark .container {
  background: #284fff;
  box-shadow: rgb(0, 1, 80) 0px 7px 29px 0px;
}

.dark a:link {
  color: white;
}

.dark a:visited {
  color: white;
}

.dark a:hover {
  color: rgba(255, 0, 208, 0.622);
}

a:link {
  color: #284fff;
}

a:visited {
  color: #284fff;
}

a:hover {
  color: rgba(255, 0, 208, 0.622);
}
.theme-button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #284fff;
  border-color: #284fff;
}

.theme-button:hover {
  color: #fff;
  background-color: #284fff;
  border-color: #284fff;
}

.dark .theme-button {
  color: white;
  border-color: white;
}
.dark .theme-button:hover {
  color: #284fff;
  background-color: white;
  border-color: white;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro-pic {
  margin-top: 20px;
  transition: all 150ms ease-in-out;
}

.intro-pic:hover {
  filter: grayscale(0);
  transform: scale(1.3);
}

.grid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid img {
  width: 100%;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(1.5);
}

.dive-button {
  text-transform: uppercase;
  display: block;
  width: px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #284fff;
  border: 1px solid #284fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.dive-button span {
  position: relative;
  z-index: 2;
}

.dive-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #284fff;
  transition: all 0.35s;
}

.dive-button:hover {
  color: #fff;
}

.dive-button:hover:after {
  width: 100%;
}

.dark .dive-button {
  color: white;
  border: 1px solid white;

  transition: all 0.35s;
}

.dark .dive-button:after {
  background: white;
  transition: all 0.35s;
}

.dark .dive-button:hover {
  color: #284fff;
}
